body {
  padding: 30px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url(../images/background01.jpg);
  color: #FFFFFF;
}

h2 {
	margin:0 0 .5em 0;
}

a {
  color: #000000;
  text-decoration: none;
}

a:hover {
	color: #00B7FF;
	text-decoration: underline;
}

#wrapper {
	padding-left:312px;
	position:relative;
}

#userList {
	margin:0 0 30px 0;
	color: #000000;
}
	#userList table {
		border-collapse:separate;
		border-spacing:1px;
		background:#CCC;
	}
		#userList table th {
			background:#EEE;
			font-weight:600;
			padding:10px 20px;
			text-align:center;
		}
		#userList table tbody {
			padding:0; margin:0;
			border-collapse:collapse;
			border-spacing:0px;
		}
			#userList table td {
				background:#FFF;
				padding:5px 10px;
				text-align:center;
			}

#userInfo {
	width:250px;
	position:absolute;
	top:0; left:0;
}
	#userInfo p {
		padding:15px;
		border:1px solid #CCC;
		background:rgba(80,120,255,0.05);
	}

fieldset {
	border:0;
	padding:0; margin:0;
	background:#CCC;
	color: #000000;
}

.linkdeleteuser{
	width: 70px;
	height: 3px;
	margin: auto;
	padding: 1px 10px;
	background-color:#00FF00;
	text-align: center;
    border-radius: 10px;
    color: #FFF;
    background-color: #3498DB;
    border-bottom: 3px solid #2980B9;
    text-shadow: 0px -2px #2980B9;
	font-size: 14px;
	font-weight: bold;
    /* Animation */
    transition: all 0.1s;
    -webkit-transition: all 0.1s;
}

.linkdeleteuser:hover {
	text-decoration: none;
    color: #000000;
}

.linkdeleteuser:focus {
	text-decoration: none;
}

.linkdeleteuser:active {
	text-decoration: none;
    transform: translate(0px,5px);
    -webkit-transform: translate(0px,5px);
    border-bottom: 1px solid;
}

#btnAddUser {
	width: auto;
	height: auto;
	margin: auto;
	margin-top: 5px;
	padding: 5px 10px;
	background-color:#00FF00;
	text-align: center;
    border-radius: 10px;
    color: #FFF;
    background-color: #3498DB;
    border-bottom: 5px solid #2980B9;
    text-shadow: 0px -2px #2980B9;
	font-size: 18px;
	font-weight: bold;
    /* Animation */
    transition: all 0.1s;
    -webkit-transition: all 0.1s;
}

#btnAddUser:hover {
 	color: #000000;
}

#btnAddUser:active {
    transform: translate(0px,5px);
    -webkit-transform: translate(0px,5px);
    border-bottom: 1px solid;
}